
<div ng-controller="MobileController" class="mobile_wrapper">
  <h1>Sharooms Mobile</h1>

  <div class="actionsection">
    <div class="form-group">
      <label class="action-label" for="action-screenpicker">Screen</label>
      <ul id="action-screenpicker" class="screenpicker">
        <li ng-repeat="screen in screens" class="screen">
          <button class="btn btn-sm alert-warning screenpicker-btn" ng-click="chooseScreenToEdit($index)">{{screen.screenNum}}</button>
        </li>
      </ul>
    </div>

    <div class="resize-btns form-group">

      <label class="action-label" for="action-resizebtns">Resize:</label>
      <span id="action-resizebtns">
        <button class="btn alert-warning">-</button>
        <button class="btn alert-warning">+</button>
      </span>

    </div>
    <div>
      <label class="action-label" for="screen-caption">Caption</label>
      <textarea class="form-control" id="screen-caption" type="text" ng-model="screenCaption"/>
      </textarea>
    </div>
  </div>

  <button class="btn btn-sm alert-warning" ng-file-select ng-model="files" ng-file-change="fileSelected($files, $event)">Upload file</button>


  <div ng-if="showScreenPicker">
    <span class="yellow_font">Choose a screen:</span>
    <ul class="screenpicker">
      <li ng-repeat="screen in screens" class="screen">
        <button class="btn btn-sm alert-warning screenpicker-btn" ng-click="upload($index)">{{screen.screenNum}}</button>
      </li>
    </ul>
  </div>

  <div>
    <ul class="pic_list">
      <li ng-repeat="file in roomFiles" style="display:inline;position:relative;" style="height:100%;">
        <div class="room-img-wrapper">
          <ul class="screenpicker carousel-screenpicker-list" ng-if="imgWasClicked($index)">
            <li ng-repeat="screen in screens" class="screen">
              <button class="btn btn-sm alert-warning" ng-click="showOnScreen($index)">{{screen.screenNum}}</button>
            </li>
          </ul>
          <img class="pic" ng-click="imageClick($index)"  ng-src="/download?fd={{file.fd}}">
        </div>
      </li>
    </ul>
  </div>
</div>
