<div ng-controller="MobileController">
  <h1>Sharooms Mobile</h1>
  <button>Update Room</button>

  {{test}}

  <button ng-file-select ng-model="files" ng-file-change="fileSelected($files, $event)">Upload file</button>


  <div ng-if="showScreenPicker">
    Choose a screen:
    <ul>
      <li ng-repeat="screen in screens">
        <button ng-click="upload($index)">{{screen.screenNum}}</button>
      </li>
    </ul>
  </div>

  <div>
    <ul style="overflow-x:scroll;overflow-y:hidden;white-space: nowrap; height:200px;">
      <li ng-repeat="file in roomFiles" style="display:inline;">
        <img style="height:200px; width:auto;display:inline;" ng-src="/download?fd={{file.fd}}">
      </li>
    </ul>
  </div>



</div>
