<div class="col-xs-12 mobile_wrapper">
    <form action="/register" method="POST">
        <div class="col-xs-12">
            <h1 class="register-heading">
                Choose A Room
            </h1>
        </div>
        <div class="form-group register-form-group col-xs-12">
            <label class="register-label control-label col-xs-4" for="campus">Campus</label>

            <div class="col-xs-8">
                <input name="campus" id="campus" class="form-control " type="text"/>
            </div>
        </div>

        <div class="form-group register-form-group col-xs-12">
            <label class="register-label control-label col-xs-4" for="building">Building</label>

            <div class="col-xs-8">
                <input name="building" id="building" class="form-control " type="text"/>
            </div>
        </div>

        <div class="form-group register-form-group col-xs-12">
            <label class="register-label control-label col-xs-4" for="room">Room</label>

            <div class="col-xs-8">
                <input name="room" id="room" class="form-control " type="text"/>
            </div>
        </div>

        <div class="form-group register-form-group col-xs-12">
            <label class="register-label control-label col-xs-4" for="displayname">Display Name</label>

            <div class="col-xs-8">
                <input name="displayname" id="displayname" class="form-control " type="text"/>
            </div>
        </div>
        <div class="col-xs-12">
            <input class="pull-right btn btn-lg alert-warning" type="submit" value="Join"/>

        </div>
    </form>
</div>