<div ng-controller="MainController" class="center" align="center" >


  Screen number:{{screenNum}}

  <div ng-if="displayImage">
    <img ng-src="/download?fd={{imageUrl}}" alt="Image to display"/>
  </div>


  <!--<img class="imagePlaceHolder" src="/app/assets/images/placeholder.jpg" width="" height= "" alt="" >-->
</div>
