.pic_list{
  padding: 0;
  overflow-x:scroll;
  overflow-y:scroll;
  width: 100%;
  height:500px;
}
.pic{
  height:auto;
  width:100%;
  display:inline;
  margin-bottom: 5%;
}

.screenpicker{
  list-style-type: none;
  display:inline;
  margin-top: 1%;
  margin-bottom: 1%;
}
.screen{
  display:inline;
}
.room-img-wrapper{
  display:inline;
  height:100%;
}

.carousel-screenpicker-list{
  height:40px;
  width:100px;
  position:absolute;
  top: inherit;
  padding-left: 0;
  margin: 2%;
}
