div.center{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;

}
.imagePlaceHolder{
  width: 500px;
  height: 500px;
}
.screen_image{
  height: auto;
  width: 100%;
}
.screen_image_wrapper{
  overflow: hidden;
  height:100%;
  padding:0;
}
.screen_number_title{
  font-size: large;
  //color: #FFFFFF;
  //background-color: #330033;
  //width: 15%;
  //height: auto;
  //text-align: center;

  margin:2% 0 0 0;
  //border: solid;
  //border-color: #FFFFFF;


  //padding-top: .2%;
  //padding-bottom: .3%;

  position:absolute;
  top:0;
  right:10%;
  z-index: 10;
}




