div.center{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;

}
.imagePlaceHolder{
  width: 500px;
  height: 500px;
}
.screen_wrapper{
  background-color: #000000;
}
.screen_image{
  max-height: 80%;
  max-width: 100%;
}
.screen_image_wrapper{
  overflow: hidden;
  height:100%;
  padding:0;
}
.screen_number_title{
  font-size: large;

  margin:2% 0 0 0;

  position:absolute;
  top:0;
  right:10%;
  z-index: 10;
}

.screen_number_title:hover{
  opacity: 0.5;
}



