<!DOCTYPE html>
<html>
  <head>
    <title>Sharooms</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.min.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="/styles/importer.css">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body class="col-xs-12">
  <main class="col-xs-12">
    <%- body %>
  </main>



    <script src="/js/bundle.js"></script>
  </body>
</html>
